<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>THIS IS A CLASS METHOD</h1>
        <a href="{% url 'oops' %}">Navigate to oops</a>
            <h2>class method is created by using @classmethod Decerator. Class methond is used to access and modify the class variables by usnig the class name and object name.</h2>
            <h2>if we modify class variables by using class name it will effect for all the remaining objects.</h2>
            <h2>if we modify class variables by using the object name it will effect for only that object.</h2>
        
    </center>
</body>
</html>