<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <h1>THIS PAGE IS FOR  OOPS</h1>
        <a href="{% url 'classs' %}">Navigate to class</a>
        <h2>class is a blue print that is used to create an object</h2>
        <h2>object is a real world entity that has some state and behaviour. We can create any number of objects by using a single class. </h2>
        <h2>There are mainly four pillers for oops concept</h2>
        <h2>1.ENCAPSULETION</h2>
        <h2>2.INHERITANCE</h2>
        <h2>3.POLYMORPHISUM</h2>
        <h2>4.ABSTRACTION</h2>

        
    </center>
</body>
</html>